* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 6em;
	font-weight: bold;
}

p {
	margin: 50px 0px;
}

main {
	max-width: 1000px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
}