
.hidden {
	display: none;
}

.liquors, .mixers {
	ul {
		list-style: none;
		margin: 50px 0;
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.ingredient {
			padding: 10px 30px;
			line-height: 1;
			margin: 10px 20px;
			flex: 1 25%;
			max-width: 25%;
			border: 1px solid black;
			border-radius: 5px;
			text-align: center;

			&:hover {
				background-color: lightgrey;
			}

			&:active {
				background-color: grey;
				color: white;
			}
		}

		&:after {
			content: '';
			flex: 2;
		}
	}

	button {
		float: right;
		padding: 10px 30px;
		border: 1px solid black;
		font-size: 1.2em; 
		margin: 0 20px;

		&.back {
			float: left;
		}
	}
}

.highlight {
	background-color: black;
	color: lightgrey;
}

.results {
	ul {
		list-style: none;
		margin: 50px 0;
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		.result {
			padding: 0;
			line-height: 1;
			margin: 10px 20px;
			flex: 1 13%;
			max-width: 20%;
			border: 1px solid black;
			border-radius: 5px;
			text-align: center;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			max-height: 100px;
			min-height: 100px;
			position: relative;

			a {
				display: block;
				width: 100%;
				height: 100%;
				opacity: .5;
				background-color: black;

			}

			.title {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				color: white;
				transform: translate(-50%, -50%);
			}

			&:hover {
				a, .title {
					opacity: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 640px) {
	.ingredient, .result {
		max-width: 100%;
		flex: 1 100%
	}
}
